{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>{{object.title}}</h1>
    <img src="{{object.image.url}} " alt="{{object.title}}">
    <p>{{object.content}}</p>
    <div class="contianer">
        <form action="" method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Comment">
        </form>
        
        {% for comment in object.comments %}
        <div class="container border-bottom border-2 my-3">
            <h5>Comment by {{comment.user}} at {{comment.time_stamp|timesince}} ago</h5>
            <p>{{comment.content}}</p>
        </div>
        {% endfor %}
        <form action="{% url 'blog:like' object.slug %}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="post">
            <input type="hidden" name="user">
            <button type='submit'>Like</button> {{object.like_count}}
        </form>
        <div class="container m-3">
            {% if user.id == object.author.id %}
            <a href="{% url 'blog:update' object.slug %}" class="btn btn-warning mx-4">Update</a>
            <a href="{% url 'blog:delete' object.slug %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
            

    </div>
</div>

{% endblock content %}